.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.letterButton-button{
  display:inline-block;
  
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',monospace;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative; 
}

.letterButton-button:disabled {
  background: #d8d8d8
}

.emoji {
  font-size:  calc(10px + 10vmin);
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}


.displayWord {
  font-family: 'Courier New',
  monospace;
}

.progress{
  margin:0.3em 0.3em 0.3em 0.3em;
}

 .letters{
  margin:0.6em 0.3em 0.3em 0.3em;
 }

.button-gameOver {
  background-color: #ffa74d  ;
  margin:0.3em 0.3em 0.3em 0.3em;
  width: 80px;
  box-sizing: border-box;
  border-radius:0.25em;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);

}


.hintText {
  margin:0.3em 0.3em 0.3em 0.3em;
  font-size: calc(10px + 2vmin);
  padding-top: 3vmin;
  padding-bottom: 2vmin;


}

.Collapsible{
  cursor: pointer;
  padding: 15px;
  background-color: #ffc933;
  color: #FFF;
  font-family: verdana;
  padding: 0 0 0 0;
  margin:0.3em 0.3em 0.3em 0.3em;

  }

.Collapsible__contentOuter{
  cursor: pointer;
  font-family: verdana;
  font-size: 14px;
  background-color: #b2b2b2
  } 