.App {
  text-align: center;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  font-family: verdana;
}

.app-header {
  background-color: #49515f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-welcome {
  padding: 0.3em;
  margin-bottom: 0
}

.letterButton-button{
  display:inline-block;
  font-size: calc(10px + 3vmin);
  padding: 0.1em 0.25em 0.1em 0.25em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',monospace;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative; 
}

.container-words {
padding: 0.6em 0 0 0
}

.letterButton-button:disabled {
  background: #d8d8d8
}

.emoji {
  font-size:  calc(10px + 15vmin);
}

.displayWord {
  font-family: 'Courier New',monospace;
  font-size: calc(10px + 6vmin);
}

.progress{
  margin:0.3em 0.3em 0.3em 0.3em;
}

.letters{
  margin:0.6em 0.3em 0.3em 0.3em;
 }

.button-gameOver {
  background-color: #ffa74d  ;
  font-size: calc(10px + 3vmin);
  font-weight:400;

  padding: 0.1em 0.25em 0.1em 0.25em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.hintHeader{
  padding-top: 0.3em;
}

.hintText {
  margin:0.3em 0.3em 0.3em 0.3em;
  font-size: calc(10px + 2vmin);
  padding: 0.3em;
}

.Collapsible{
  border-radius:0.25em;
  cursor: pointer;
  background-color: #ffc933;
  color: #FFF;
  font-family: verdana;
  margin:0em 0.3em 0.6em 0.3em;
  
  }


.Collapsible__contentOuter{
  cursor: pointer;
  font-family: verdana;
  font-size: 14px;
  background-color: #b2b2b2;
  margin:0em 0em 0em 0em;
  border-radius:0.25em;

  } 